<ul id="sidebar">
  <li><%= link_to 'Inbox', :controller => 'tasks', :action => 'index' %></li>
  <li><%= link_to 'Today', :controller => 'tasks', :action => 'today' %></li>
  <li><a href="#">Next</a></li>
  <li><%= link_to 'Projects', :controller => 'projects' %></li>
</ul>