<h1>Inbox</h1>

<ul id="inbox" class="asset-list task-list">
  <%= render :partial => "shared/task", :collection => @tasks %>
</ul>

<ul id="links">
  <li><%= link_to '+ New', new_task_path %></li>
  <li><%= link_to '- Clear Completed', clear_completed_tasks_path, :method => :delete %></li>
</ul>