body {
  background: #8089b1 url(../images/bg.gif) top repeat-x;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: #65738d;
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 160px;
  margin: 0;
  text-transform: uppercase;
  z-index: -99;
}

#container {
  width: 800px;
  margin: 100px auto 40px;
  padding: 10px;
}

#topnav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #65738d;
  margin: 0;
  padding: 5px;
}

#topnav li {
  list-style: none;
  display: inline;
}

#topnav li a {
  text-transform: uppercase;
  padding: 3px 5px;
  color: white;
}

#sidebar {
  text-align: right;
  padding: 15px 0 0 0;
  width: 140px;
  float: left;
}

#sidebar li {
  list-style: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#sidebar li a {
  color: white;
}

#sidebar li#nav-today a {
  color: rgb(249, 250, 210);
}

#sidebar li.active a {
  font-weight: bold;
}

#main {
  margin-left: 180px;
}

#notice {
  text-align: right;
  color: #4b5669;
  text-transform: uppercase;
}

ul.asset-list {
  list-style: none;
  padding-left: 0;
  font-size: 13px;
}

ul.asset-list li {
  list-style: none;
  background: rgba(255, 255, 255, 0.75);
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  margin-bottom: 1px;
}

ul.asset-list li .data {
  display: block;
}

ul.asset-list li .name {
  font-weight: bold;
  display: block;
  float: left;
  margin-right: 20px;
  width: 350px;
  color: #555;
}

ul.asset-list li:hover .name {
  color: #000;
}

ul.asset-list li .notes, ul.asset-list li .due-date, ul.asset-list li .date-completed {
  color: #777;
}

ul.asset-list li .due-date, ul.asset-list li .date-completed {

} 

ul.asset-list li .notes {
  color: #a39e1c;
  display: block;
  margin-top: 6px;
}


ul.asset-list li.today {
  background: rgba(249, 250, 210, 1);
}

ul.asset-list li.completed {
  opacity: 0.4;
}


ul.project-list > li {
/*  background: rgba(255, 255, 255, 0.75);*/
  padding-right: 0;
}

ul.project-list > li > .data {
  margin-left: 10px;
  margin-bottom: 5px;
}

ul.project-list > li > .tools {
  margin-right: 10px;
}


ul.tools {
  display: inline;
  text-align: right;
  float: right;
}

ul.tools li {
  background: none;
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
}

ul.tools li a {
  text-transform: uppercase;
  padding: 2px 4px;
  color: #aaa;
}

ul.asset-list li:hover ul.tools li a {
  color: #777;
}

ul.asset-list li:hover ul.tools li a:hover {
  color: #000;
  cursor: default;
}

#links {
  padding-left: 0;
}

#links li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

#links li a {
  display: block;
  text-transform: uppercase;
  padding: 4px 6px;
  background-color: white;
  -webkit-border-radius: 6px;
  font-size: 75%;
  font-weight: bold;
  color: #888;
}

#links li a:hover {
  background-color: #ddd;
}

.block label {
  display: block;
}

label {
  font-size: 11px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

form .primary {
  float: left;
  width: 300px;
}

form .secondary {
  margin-left: 310px;
  padding: 10px;
  background: rgba(0, 0, 0, .1);
}

form .submit {
  clear: both;
}