body {
  background-color: #aaa;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

#container {
  width: 680px;
  margin: 40px auto 0;
  padding: 10px;
}

ul.task-list {
  list-style: none;
  padding-left: 0;
}

ul.task-list li {
  list-style: none;
  background-color: white;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  margin-bottom: 1px;
}

  ul.task-list li.priority-1 {background-color: #e6e6e6;}
  ul.task-list li.priority-2 {background-color: #eee;}
  ul.task-list li.priority-3 {background-color: #f6f6f6;}
  ul.task-list li.priority-4 {background-color: #fff;}

ul.task-list li .data {
}

ul.task-list li .name {
  margin-right: 20px;
}

ul.task-list li .notes, ul.task-list li .due-date, ul.task-list li .date-completed {
  color: #777;
  font-size: 75%;
}

ul.task-tools {
  display: inline;
  text-align: right;
  float: right;
}

ul.task-tools li {
  background: none;
  display: inline;
  border: none;
  padding: 0;
}

ul.task-tools li a {
  text-transform: uppercase;
  padding: 2px 4px;
  color: #aaa;
}

ul.task-list li:hover ul.task-tools li a {
  color: #777;
}

ul.task-list li:hover ul.task-tools li a:hover {
  color: #000;
  cursor: default;
}

#completed-tasks li {
  background-color: #bbb;
  color: #555;
}

#completed-tasks li ul.task-tools li a {
  color: #888;
}

#completed-tasks li:hover ul.task-tools li a:hover {
  color: #000;
}

#links {
  padding-left: 0;
}

#links li {
  list-style: none;
  float: left;
  margin: 10px;
}

#links li a {
  display: block;
  text-transform: uppercase;
  padding: 4px 6px;
  background-color: white;
  -webkit-border-radius: 6px;
  font-size: 75%;
  font-weight: bold;
}

#links li a:hover {
  background-color: #ddd;
}

label {
  display: block;
}