<html>
  <head>
    <title>See you later!</title>
  </head>
  <body>
    <h1>Adios.</h1>
    <p>And good riddance.</p>
    
    <p>Say <%= link_to "Hello", :action => "hello" %> again.</p>
  </body>
</html>